<div class="row">
   <div class="col-xs-12 col-sm-2 col-2 col-lg-2"> 
      <img src="../../../assets/foto.jpg"
      class="img.fluid" id="fotodeperfil">
   </div>
   <div class="col-xs-12 col-sm-2 col-2 col-lg-2">
    <p id="nombre">{{persona.nombre}}</p>
    <p>Full Stack Developer jr</p>
   </div>
   <div class="col-xs-12 col-sm-8 col-8 col-lg-8">
      <span>
        <h1>Acerca de mi</h1>
        <p>Tengo 6 años de experiencia en el area de sistemas trabajando como consultor ERP SENIOR<br>Tengo conocimientos de base de datos ,migracion a sistemas web, implementacion de software
           Me estoy desarrollando como Programador  jr<br>hablo ingles,español,chino y portugues
        </p>
      </span>
   </div>
</div>