<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Perito mercantil-Orientación computación</h1>-<h3>(1993-1997)</h3></li>
        </ul>
        <ul>
            <li><h1>Curso  Analista Contable</h1>-<h3>(2017)</h3></li>
        </ul>
        <ul>
            <li><h1>Programa universitario advance –Fortalecimiento y gestión de pymes</h1>-<h3>(2017)</h3></li>
        </ul>
        <ul>
            <li><h1>Coaching Ontologico </h1>-<h3>(2021)</h3></li>
        </ul>
</div>
