<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Consultor ERP</h1>-<h3>(Jun 2019--Actualidad )</h3></li>
            <p>Implementador de sistema ERP en OPPEN.IO en las áreas de stock, finanzas, contabilidad, administración, CRM y migraciones a sistema web </p>
        </ul>
        <ul>
            <li><h1>Consultor ERP</h1>-<h3>( Jun 2018-Jun 2019)</h3></li>
            <p>Implementador de sistema ERP en TACTICA SOFT las áreas de stock, contabilidad, finanzas y administración</p>
        </ul>
        <ul>
            <li><h1>Auxiliar Contable</h1>-<h3>(Jun 2015--Jun 2018)</h3></li>
            <p>             Me desempeñe en las áreas de compras, cuentas corrientes, pago a proveedores,
                Cobranzas, carga de comprobantes a un software de gestión, logística, recepción, control de stock, documentacion de HyS,  participando con el encargado de finanzas en el control de los  procesos administrativos de la empresa. Realice análisis de rentabilidad de proyectos. Tengo experiencia en la negociación de pagos y condiciones comerciales con proveedores.
                 </p>
        </ul>
        <ul>
            <li><h1>Encargado de Mantenimiento</h1>-<h3>(2000-junio 2015)</h3></li>
            <p> Manejo de personal, control de inventarios e insumos, control de procedimientos     
                Organización de reuniones departamentales. </p>
        </ul>
</div>